#header {
    background-color: #FFF3E3;
}
.header .logo h1 {
    color: #959595;
}
.navbar {
    color: #959595;
}
.footer-content {
    height: 700px;
    background-color: white;
}
.header {
    position: sticky;
}
.coming-soon {
    height: 600px;
    background-color: white;
    color: black;
}
.coming-soon-container {
    text-align: center;
    padding: 250px 0px 250px 0px;
}
.here-link {
    color: rgb(226, 149, 120);
}
.here-link:hover {
    color: rgb(191, 85, 47);
    transition: ease-in-out .25s;
}
#logo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
#main {
    background-color: #fff3e330;
}
.footer-legal {
    background-color: #FFF3E3;
}